h1 {
    background-color: rgb(256,128,0);
    width: 100%;
    padding: 25px 0;
    align-items: center;
    text-align: center;
}

.divider {
    width: 100%;
    background-color: black;
    height: 2px;
}

.left-paragraph {
    width: 45%;
    padding: 25px 10px;
}

.right-paragraph {
    width: 55%;
    padding: 25px 10px;
}

p {
    padding: 5px;
}